<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Comment Formatting</h3>
  </div>
  <div class="panel-body">
    <p>
      You can use <a href='http://en.wikipedia.org/wiki/Markdown' target="_blank">Markdown</a> formatting in your comments.  Below are some syntax examples.
    </p>
    <%= render partial: "shared/markdown_examples" %>
  </div>
</div>
