<h1>Discussion Forums</h1>
<div id="forums" class="well">
  <% @forums.each do |forum| %>
    <div class="forum">
      <h2><%= link_to forum.name, forum_path(forum) %></h2>
      <p><%= pluralize(forum.topics.count, "topic") %></p>
      <p><%= forum.description %></p>
    </div>
  <% end %>
</div>
