<h1>Invasion of the Giant Amoebas</h1>

<h2>Explanantion</h2>
<p>Giant Amoebas are invading random locations across the planet! Is it the first step of an alien invasion? Or is this the price man has to pay for years of dumping toxic waste into the environment? Either way, these creatures are yet another threat you have to deal with on your way to global domination!</p>

<h2>Setup</h2>
<p>Shuffle and set aside the Invasion of the Giant Amoebas deck, the devastation markers and the glass counters (which represent these amoebas) at the start of the game.</p>

<h2>Rules</h2>
<p>At the beginning of a player's turn before they calculate and collect their energy and MODs, that player must draw the top card from the Invasion of the Giant Amoebas deck and must follow its instructions. If an invasion (land, water or lunar) card is pulled, then the defending player may retreat his units from that space to an adjacent space that they control before the Giant Amoebas attack.</p>
<p>Each Giant Amoebas attacks and defends with an eight sided die (d8). The player to the left of the active player always rolls the attack and defence dice for the Giant Amoebas.</p>
<p>A territory taken by Aliens does not count towards any players bonuses or score. Also, if a player owning a continent loses a territory in that continent to Aliens, then that players does NOT control that continent (until they take the territory back).</p>
<p>If Giant Amoebas take over a territory that contains a Space Station, that Space Station is destroyed!</p>

<h2>Official FAQs</h2>
<p>
  <b>What happens if I draw an Invasion card and the Giant Amoebas end up attacking the player to my right, who rolls the dice for the Aliens?</b><br />
  If your opponent chooses to defend against the Aliens, then you (as the player to the left of the player being attacked) would roll the eight sided dice (d8) for the Aliens.
</p>
<p>
  <b>Do the Giant Amoebas ever move out of the space they have invaded into?</b><br />
  No they do not. They will defend if they are attacked but they do not invade out of the spaces they control.
</p>
<p>
  <b>If Giant Amoebas invade an opponent's space next to me, can I let him retreat his units out of that territory through one of my territories?</b><br />
  No you cannot.
</p>
<p>
  <b>Can we use Command Cards against the Giant Amoebas?</b><br />
  No you cannot. They are immune to nuclear weapons and they appear unexpectedly so cards such as Stealth MODs cannot be used to defend their invasions.
</p>

<h2>Un-Official FAQs</h2>
<p>
  <b>The setup rules say to set aside the devastation markers, does this include the four that would usually be placed at the start of the game?</b><br />
  No. This is certainly unclear from the additional rules but on the basis that the Invasion of the Giant Amoebas kit comes with additional devastation markers and that these would never be required if the four from the basic set are not placed at the start of the game, it appears to be the intention that the game begins normally, with four devastation markers in place.
</p>

<hr />
Bundled expansion by <%= link_to "Grinborg", "http://boardgamegeek.com/user/burbidge", target: "_blank" %>.

<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Bundled Expansion Pack", "/expansions/invasion_of_giant_amoebas_expansion.zip", class: "btn btn-danger btn-large" %>
  <p class="description">The bundled expansion pack contains tiff printouts of all the cards as well as the official rules.</p>
</div>
