<h1>Galactic Risk</h1>
<p>Galactic Risk happens when you combine all the maps and use the <%= link_to "Galactic Commander", expansions_galaxy_commander_path %> to expand across the galaxy.</p>

<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Galactic Risk Rules", "/resources/Galactic_Domination.doc", class: "btn btn-danger btn-large" %>
</div>
