<% content_for :page_title, "Galactic Risk" %>
<div class="well">
  <h1>Galactic Risk</h1>
  <p>Galactic Risk happens when you combine all the maps and use the <%= link_to "Galactic Commander", expansions_galaxy_commander_path %> to expand across the galaxy.</p>

  <div class="bundle-download-container">
    <%= download_expansion_button("/resources/Galactic_Domination.doc", text: "Download Galactic Risk Rules") %>
  </div>
</div>
