<% content_for :page_title, "Password Reset" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reset Password</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for :player, url: reset_password_path, html: {method: :put} do |f| %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.submit "Reset Password", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
