<% if logged_in? %>
  <p>The following Risk 2210 A.D. players live nearby!</p>
  <% current_player.nearby_players.each do |player| %>
    <p><%= link_to player.handle, player_path(player) %> &ndash; <%= location(player) %></p>
  <% end %>
<% end %>