<h1>Welcome!</h1>
<%= link_to "Login", login_path %>

<% @players.each do |player| %>
  <p><%= image_tag player.profile_image_path("square") %><%= player.full_name %></p>
<% end %>

<%= button("Help!", icon: "eye-open", href: "http://www.google.com", button_type: "primary") %>
