<% content_for :page_title, "Antarctica Expansion" %>

<h1>Antarctica Expansion</h1>

<h2>Rules</h2>
<p> The game begins with both the additions of the Antarctica map and with two continent gaining increased continental bonuses i.e. South America (3) and Africa (4). As suggested above there are additional territory connections from Argentina (South America) to Shackleton (Antarctica), Lesotho (Africa) to Free Africaans Republic (Antarctica) and Akara (Indian Ocean) to Independent Kansas (Antarctica). Four addition land territory cards representing the new Antarctica territories are also added to the existing land deck and are set-up normally during the initial phase of the game. One additional Global Warming is also added into deck of diplomat cards at the beginning of the game.</p>
<p>When/if the Global Warming card is played, the following occurs:</p>
<ul>
  <li>Destroy all MODs and Commanders in Shackleton, Southern Anarchist Control Zone, and Independent Kansas.</li>
  <li>Place all MODs and Commanders in the Free Afrikaans Republic aside.</li>
  <li>Flip over the Antarctica Board.</li>
  <li>Replace all the MODs and Commanders from the Free Afrikaans Republic back into the Afrikaans Republic on the new map.</li>
  <li>Afrikaans Republic is now part of Africa, and must be controlled to claim the bonus for controlling Africa.</li>
  <li>High water levels and extreme weather from Global Warming reduce the values of all land continents as indicated on the new Antarctica map.</li>
  <li>If any of the three Antarctica territory cards that are no longer available are turned up while playing another effect (Scatter Bomb Land, Invade Earth, Scout Forces, etc.), discard that card and draw a new one.</li>
  <li>If an existing card targets one of those territories (such as a played but not yet collected Scout Forces card), that card no longer has any effect.</li>
</ul>
<hr />

<p>Map layout and design by <%= link_to "Grinborg", "http://boardgamegeek.com/user/burbidge", target: "_blank" %>.</p>

<div class="bundle-download-container">
  <%= download_expansion_button("/expansions/antarctica_expansion.zip") %>
  <p class="description">The bundled expansion pack contains high-resolution versions of the Antarctica map and cards.</p>
</div>

<hr />

<p><%= link_to image_tag("antarctica/antarctica_expansion_pre-warming.jpg"), asset_path("antarctica/original/antarctica_expansion_pre-warming.jpg"), target: "_blank" %>&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("antarctica/antarctica_expansion_post-warming.jpg"), asset_path("antarctica/original/antarctica_expansion_post-warming.jpg"), target: "_blank" %></p>
