<h1>Asteroid Colonies Expansion</h1>
<p>This expansion goes very well with the Io expansion since it doesn't have any moons. It also goes well as a suplemmental board with Earth or Mars.</p>
<hr />

<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Bundled Expansion Pack", "/expansions/asteroids_expansion.zip", class: "btn btn-danger btn-large" %>
  <p class="description">The bundled expansion pack contains high-resolution versions of the Mars map, Phobos &amp; Diemos map, and each territory card.</p>
</div>

<hr />

<p><%= link_to image_tag("asteroids/Asteroids.jpg"), asset_path("asteroids/original/Asteroids.jpg"), target: "_blank" %></p>
