<h1>Asteroid Colonies Expansion</h1>
<p>This expansion works very well with the Io expansion; since it doesn't have any moons. It also works well as a suplemmental board for Earth or Mars.</p>
<h2>Rules</h2>
<p>When using the Nicky Boy, roll with an 8 sided dice.
  <ul>
    <li>1 or 2 rolled &ndash; 1 Ceres</li>
    <li>3 or 4 rolled &ndash; 4 Vesta</li>
    <li>5 or 6 rolled &ndash; 1 Dactyl</li>
    <li>7 or 8 rolled &ndash; 243 Ida</li>
  </ul>
</p>
<p>If a player plays the energy extraction card, they must posess all 4 asteroids in order to receive the bonus at the end of their turn.</p>
<hr />

<p>Map layout by <%= link_to "sklar", "http://boardgamegeek.com/user/sklar", target: "_blank" %>, design by <%= link_to "v0lrath", "http://boardgamegeek.com/user/v0lrath", target: "_blank" %>.</p>
<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Bundled Expansion Pack", "/expansions/asteroids_expansion.zip", class: "btn btn-danger btn-large" %>
  <p class="description">The bundled expansion pack contains a high-resolution version of the Asteroids map and each territory card.</p>
</div>

<hr />

<p><%= link_to image_tag("asteroids/Asteroids.jpg"), asset_path("asteroids/original/Asteroids.jpg"), target: "_blank" %></p>
