<h1>Europa Expansion</h1>

<hr />

<div class="bundle-download-container">
  <%#= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Bundled Expansion Pack", "/expansions/europa_expansion.zip", class: "btn btn-danger btn-large" %>
  <!-- <p class="description">The bundled expansion pack contains high-resolution versions of the Europa map and each territory card.</p> -->
</div>

<!-- <hr /> -->

<p><%= link_to image_tag("europa/Europa.jpg"), asset_path("europa/original/Europa.jpg"), target: "_blank" %></p>
