<h1>Io Expansion</h1>

<h2>Rules</h2>
<p>Use all of the game pieces from the main game with the exception of the maps and territory cards obviously.<br />
The Asteroids expansion makes a great supplement to this board, since there are no moons.</p>

<h4>Nuclear Cards</h4>
<p>Aquire a 10 sided dice for use with the Mother, use a 6 sided die for Aqua Brother. Use the point charts on the board in place of the charts on the card.</p>

<hr />
<p>Map layout by <%= link_to "teleute", "http://boardgamegeek.com/user/teleute", target: "_blank" %>, design by <%= link_to "v0lrath", "http://boardgamegeek.com/user/v0lrath", target: "_blank" %>.</p>
<div class="bundle-download-container">
  <%= link_to content_tag(:i, "", class: "icon-arrow-down icon-large") + " Download Bundled Expansion Pack", "/expansions/io_expansion.zip", class: "btn btn-danger btn-large" %>
  <p class="description">The bundled expansion pack contains high-resolution versions of the Io map and each territory card.</p>
</div>

<hr />

<p><%= link_to image_tag("io/Io.jpg"), asset_path("io/original/Io.jpg"), target: "_blank" %></p>
