<% content_for :page_title, "Mars Expansion" %>

<div class='well'>
  <h1>Mars Expansion</h1>

  <h3>Explanantion</h3>
  <p>In the not too distant future, the planet Mars is terraformed.  With this new frontier, the old conflicts of Earth continue.  You may have taken over the Earth, but can you become the first Warlord of Mars?
    <br/><br/>
    The Mars map provides new game play opportunities with a new game map and additional rules (neutral territories, 2 moons).  The map is based upon an actual map of Mars taken by the Hubble telescope.  The names of the land territories of Mars correspond with the named regions of Mars.  The names of the water and lunar territories are the product of the author's imagination.
  </p>

  <h3>Setup</h3>
  <p>
    Use all of the game pieces from the base game with the exception of the maps and territory cards.
  </p>
  <h3>Rules</h3>
    Standard game rules apply with the following exceptions:
  </p>

  <ol>
    <li>
      <h5>Neutral Territories</h5>
      Players do not start in the neutral territories.
      There is no continent bonus for controlling all the neutral territories, but they do count toward your total number of controlled territories.
      North and South Moab wrap across the board (so North Moab for example borders both Sirenum in Amazonis and Apygia in Casius).
      <br><br>
      <b>Optional Rule:</b><br> Place neutral units (glass beads or unused player mods) in the territories, when attacking another player can defend using a 6 sided die for the neutral units.
    </li>
    <li>
      <h5>Moons of Mars</h5>
      You must control all the spaces of both moons to collect the bonus from the Energy Extraction space command card.
    </li>
    <li>
      <h5>Nuclear Cards</h5>
      When playing The Mother, Aqua Brother, or Nicky Boy use the continent bonus listings on the Mars maps in place of the listing on the command cards.
    </li>
  </ol>
  <hr>
  <p>Map design by <%= link_to "v0lrath", "http://boardgamegeek.com/user/v0lrath", target: "_blank" %>.</p>
  <div class="bundle-download-container">
    <%= download_expansion_button("/expansions/mars_expansion.zip") %>
    <p class="description">The bundled expansion pack contains high-resolution versions of the Mars map, Phobos &amp; Diemos map, and each territory card.</p>
  </div>

</div>

<p><%= link_to image_tag("mars/Mars.jpg"), asset_path("mars/original/Mars.jpg"), target: "_blank" %></p>
<p><%= link_to image_tag("mars/Mars-Moons.jpg"), asset_path("mars/original/Mars-Moons.jpg"), target: "_blank" %></p>
