<h1>Mars Expansion</h1>

<h2>Rules</h2>
<p>Use all of the game pieces from the main game with the exception of the maps and territory cards obviously.</p>

<p>Use the standard game rules with the following exceptions:</p>

<h4>Neutral Territories</h4>
<p>Players do not start in the neutral territories.
There is no continent bonus for controlling all the neutral territories but they do count toward your total number of controlled territories.
North and South Moab wrap across the board (so North Moab for example borders both Sirenum in Amazonis and Apygia in Casius).</p>

<h4>Moons of Mars</h4>
<p>You must control all the spaces of both moons to collect the bonus from the Energy Extraction space command card.</p>

<h4>Nuclear Cards</h4>
<p>When playing The Mother, Aqua Brother, or Nicky Boy use the charts on the Mars map in place of the charts on the command cards.</p>

<hr />

<div class="download-bundle-container">
  <%= link_to "Download Bundled Expansion Pack", "/expansions/mars_expansion.zip", class: "btn btn-danger btn-large" %>
  <p class="description">The bundled expansion pack contains high-resolution versions of the Mars map, Phobos &amp; Diemos map, and each territory card.</p>
</div>

<hr />

<p><%= link_to image_tag("mars/Mars.jpg"), asset_path("mars/original/Mars.jpg"), target: "_blank" %></p>
<p><%= link_to image_tag("mars/Mars-Moons.jpg"), asset_path("mars/original/Mars-Moons.jpg"), target: "_blank" %></p>
