development: &defaults
  secret_key_base: ''
  facebook:
    application_key: ''
    application_secret: ''
  email:
    address: smtp.gmail.com
    port: 587
    username: ''
    password: ''
    domain: ''
    default_from: ''
  exception_notifier:
    sender: ''
    recipients: ''

test:
  <<: *defaults
