<div class="panel panel-info nearby-players">
  <div class="panel-heading">
    <h3 class="panel-title">Nearby Players</h3>
  </div>
  <div class="panel-body">
    <% if current_player.location.blank? %>
      <p>Update the location settings on your <%= link_to "profile", edit_player_path(current_player) %> to see nearby Risk 2210 players.</p>
    <% else %>
      <p>(within 50 miles of <%= current_player.location %>)</p>
      <% if nearby_players.size > 0 %>
        <table class="table table-bordered table-striped">
          <% nearby_players.each do |player| %>
            <tr>
              <td>
                <%= link_to(player.slug, player_path(player)) %>
              </td>
              <td>
                <%= message_link(current_player, player) %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>Sorry, there are no other Risk 2210 players nearby.</p>
      <% end %>
    <% end %>
  </div>
</div>
