<h1>All Players</h1>
<div id="player-listing">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Handle</th>
        <th>Location</th>
        <th>Games Played</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= link_to player.handle, player_path(player) %></td>
          <td><%= player.location %></td>
          <td><%= player.game_players.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :sidebar do %>
  <%#= render partial: "shared/nearby_players" %>
<% end %>