<h1>All Players</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Location</th>
      <th>Wins</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.handle, player_path(player) %></td>
        <td><%= player.city %>, <%= player.state %></td>
        <td>49</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <%= render partial: "shared/nearby_players" %>
<% end %>