.card{
  width: 100%;
  img{
    width: 275px;
  }
}

.bundle-download-container{
  margin: 20px 0;

  p.description{
    margin-top: 15px;
  }
}

.faction-item{
  margin: 15px;
  font-size: 18px;
  img{
    margin-right: 10px;
  }
}

.affiliate{
  margin-top: 198px;
}

ul.command-card-listing{
  li{
    margin-bottom: 15px;
  }
}
