@font-face {
  font-family: "Gunship";
  src: url(font-path('gun4f.eot'));
  src: url(font-path('gun4f.eot')) format('embedded-opentype'), url(font-path('gun4f.woff')) format('woff'), url(font-path('gun4f.ttf')) format('truetype'), url(font-path('gun4f.svg')) format('svg');
}
