@import "variables";

//****************************************************************************************************************************************
//** Mixins
//****************************************************************************************************************************************

@mixin glowingBorder($color) {
  border: 2px solid $color;
  -webkit-box-shadow: 0 0 15px $color;
  -moz-box-shadow: 0 0 15px $color;
  box-shadow: 0 0 15px $color;
}

@mixin rounded($border_radius: 10px) {
    border-radius: $border_radius;
  -moz-border-radius: $border_radius;
  -webkit-border-radius: $border_radius;
}

@mixin container{
  border: 1px solid #000000;
  @include rounded(5px);
  background: rgba(39, 43, 48, 0.9);
}

//****************************************************************************************************************************************
//** Game Setup
//****************************************************************************************************************************************

#game-players-setup{
  .add-player-button-container{
    margin-top: 15px;
  }
  .nested-fields{
    @include rounded(5px);
    background: #272B30;
    padding: 15px;
    margin-bottom: 20px;
    .control-group{
      margin-bottom: 0;
    }
  }
}

//****************************************************************************************************************************************
//** Layout
//****************************************************************************************************************************************

#game-header{
  margin: 10px 20px;
}

#game{
  float: left;
}

#maps{
  float: left;
}

.delete-game-container {
  margin-top: 50px;
}

//****************************************************************************************************************************************
//** Maps
//****************************************************************************************************************************************

.map{
  width: 175px;
  h3{
    font-family: "Gunship";
  }
}

ul.continent-list{
  list-style: none;
  margin: 0 0 15px 0;
  padding: 5px;
  min-height: 40px;
  min-width: 100px;
  li{
    margin: 10px 0;
    cursor: move;
    span.continent{
      padding: 5px;
      color: #fff;
      @include rounded(5px);
      text-shadow: none;
      opacity: 1.0;
    }
  }
}

.dashed{
  border: 1px dashed;
  @include rounded();
}

//****************************************************************************************************************************************
//** Game Player card
//****************************************************************************************************************************************

.player-card{
  margin: 20px 10px;
  clear: left;
  padding: 10px;
  min-height: 200px;
  width: 500px;
  float: left;
  @include rounded(10px);

  .row{
    clear: both;
    display: table-row;

    .player-label {
      @include container();
      font-family: "Gunship";
      height: 60px;
      line-height: 60px;
      margin: 5px;
      width: 490px;
      span{
        font-size: 20px;
        padding: 5px 15px;
      }
      img{
        padding: 5px;
        float: left;
      }
    }

    .cellspan-two{
      width: 326px !important;
    }

    .column{
      width: 155px;
      float: left;
      margin: 5px;

      .avatar{
        padding: 10px;
        @include container();
        img{
          display: block;
        }
      }

      .turn-controls{
        padding: 10px;
        @include container();
        height: 105px;
        h3{
          font-family: "Gunship";
          text-align: center;
          margin-bottom: 5px;
        }
        .territory-counter{
          font-family: "Gunship";
          margin: 10px 10px 0 0;
          float: right;
          // text-align: center;
          font-size: 50px;
          color: #b51500;
          text-shadow: -3px -3px 0 #000;
          margin-bottom: 5px;
        }
        .buttons{
          float: left;
          margin-left: 10px;
          text-align: left;
        }
      }

      .territories{
        @include container();
        h3{
          text-align: center;
          font-family: "Gunship";
        }
        ul{
          margin: 0 0 0 10px;
        }
      }

      .counter-container{
        height: 100%;
        margin: 15px 0 0 15px;
        font-family: "Gunship";
        h3.counter-label{
          color: #fff;
          font-size: 20px;
          height: 100%;
          clear: right;
        }
        h2.counter{
          text-shadow: -3px -3px 0 #000;
          font-size: 50px;
          color: #b51500;
          margin: 5px 0 15px;
        }
      }

      .save-turn-container a{
        width: 200px;
      }

    }
  }

}

.red-glow{
  @include glowingBorder($red);
}
.green-glow{
  @include glowingBorder($green);
}
.blue-glow{
  @include glowingBorder($blue);
}
.black-glow{
  @include glowingBorder($black);
}
.gold-glow{
  @include glowingBorder($gold);
}

.background-1{
  background-image: image-url('player_card_backgrounds/background1.png');
}
.background-2{
  background-image: image-url('player_card_backgrounds/background2.png');
}
.background-3{
  background-image: image-url('player_card_backgrounds/background3.png');
}
.background-4{
  background-image: image-url('player_card_backgrounds/background4.png');
}
.background-5{
  background-image: image-url('player_card_backgrounds/background5.png');
}
.background-6{
  background-image: image-url('player_card_backgrounds/background6.png');
}
.background-7{
  background-image: image-url('player_card_backgrounds/background7.png');
}
.background-8{
  background-image: image-url('player_card_backgrounds/background8.png');
}
