@font-face {
  font-family: "Gunship";
  src: font-path('gun4f.ttf');
}

#game-players-setup{
  .add-player-button-container{
    margin-top: 15px;
  }
  .fields{
    margin-bottom: 10px;
    .control-group{
      margin-bottom: 0;
    }
  }
}

// Layout
#game-header{
  margin: 10px 20px;
}

#game-players{
  float: left;
}

#maps{
  float: left;
}

// Player Colors
$red: #c65148;
$green: #4bc649;
$blue: #488dc6;
$black: #9b9b9b;
$gold: #c69e49;

@mixin glowingBorder($color) {
  border: 2px solid $color;
  -webkit-box-shadow: 0 0 15px $color;
  -moz-box-shadow: 0 0 15px $color;
  box-shadow: 0 0 15px $color;
}

@mixin rounded($border_radius: 10px) {
    border-radius: $border_radius;
  -moz-border-radius: $border_radius;
  -webkit-border-radius: $border_radius;
}

@mixin riskFont(){
  font-family: "Gunship";
}

@mixin container{
  border: 1px solid #000000;
  @include rounded(5px);
  background: rgba(39, 43, 48, 0.9);
}

//****************************************************************************************************************************************
//** Maps
//****************************************************************************************************************************************
.map{
  width: 175px;
  h3{
    @include riskFont();
  }
}

ul.continent-list{
  list-style: none;
  margin: 15px 10px;
  min-height: 20px;
  li{
    margin: 10px 0;
    span.continent{
      padding: 5px;
      color: #fff;
      @include rounded(5px);
      text-shadow: none;
      opacity: 1.0;
    }
  }
}

//****************************************************************************************************************************************
//** Game Player card
//****************************************************************************************************************************************

.player-card{
  margin: 20px; 
  clear: left; 
  padding: 10px;
  min-height: 200px;
  width: 710px;
  float: left;
  @include rounded(10px);

  .left-col{
    width: 110px;
    float: left;

    .avatar{
      width: 80px;
      padding: 10px;
      @include container();
    }

    .turn-controls{
      margin: 10px 0;
      padding: 10px;
      @include container();
      width: 80px;
      h2{
        font-size: 38px;
        color: #b51500;
        text-shadow: -3px -3px 0 #000;
        @include riskFont();
        margin-bottom: 5px;
      }
      .buttons{
        margin-left: 5px;
      }
    }
    .save-turn-container{
      margin-left: 7px;
    }

  }

  .territories{
    float: left;
    width: 140px;
    margin: 5px 0 5px 5px;
    @include container();
    h3{
      text-align: center;
      @include riskFont();
    }
    ul{
      margin: 0 0 0 25px;
      display: block;
      min-height: 20px;
      list-style: none;
    }
  }

  .right-col{
    float: left;
    width: 155px;
    .faction-logo{
      height: 50px;
      float: right;
    }


    .counter-container{
      float: right;
      width: 145px;
      height: 100%;
      margin: 10px 0 0 10px;


      h3.counter-label{
        color: #fff;
        font-size: 20px;
        height: 100%;
        clear: right;
        @include riskFont();
      }
      h2.counter{
        @include riskFont();
        // -webkit-text-stroke: 1px #fff;
        text-shadow: -3px -3px 0 #000;
        font-size: 50px;
        color: #b51500;
        margin: 5px 0 15px;
      }
    }
  }
}

.red{
  @include glowingBorder($red);
}
.green{
  @include glowingBorder($green);
}
.blue{
  @include glowingBorder($blue);
}
.black{
  @include glowingBorder($black);
}
.gold{
  @include glowingBorder($gold);
}

.background-1{
  background-image: image-url('player_card_backgrounds/background1.png');
}
.background-2{
  background-image: image-url('player_card_backgrounds/background2.png');
}
.background-3{
  background-image: image-url('player_card_backgrounds/background3.png');
}
.background-4{
  background-image: image-url('player_card_backgrounds/background4.png');
}
.background-5{
  background-image: image-url('player_card_backgrounds/background5.png');
}
.background-6{
  background-image: image-url('player_card_backgrounds/background6.png');
}
.background-7{
  background-image: image-url('player_card_backgrounds/background7.png');
}
.background-8{
  background-image: image-url('player_card_backgrounds/background8.png');
}