#tracker-carousel{
  margin-top: 30px;
  .item{
    height: 600px;
    img{
      max-height: 480px;
      max-width: 600px;
      margin: auto;
    }
  }
}

.auth-choice-facebook{
  margin-top: 50px;
}
