<footer>
  <hr />
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li>&nbsp;/&nbsp;</li>
<!--     <li><%#= link_to "API Documentation", api_docs_path %></li> -->
<!--     <li>&nbsp;/&nbsp;</li> -->
    <li><%= link_to content_tag(:i, "", class: "icon-twitter-sign icon-white") + " Twitter", "http://twitter.com/Risk2210", target: "_blank" %></li>
  </ul>
</footer>
