<head>
  <title><%= page_title %></title>
  <meta name="description" content="Risk 2210 A.D. Game Progress Tracker">
  <meta name="keywords" content="risk, 2210ad, risk2210ad, risk 2210 ad, board game">
  <%= stylesheet_link_tag "application", media: "all" %>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :head %>
</head>